.post {
    p {
        width: 100%;
        max-width: 400px;
        height: 20%;
        max-height: 200px;
        margin:0;
        padding:10px;
    }
    img {
        width: 100%;
        height: 80%;
        max-width: 400px;
        max-height: 400px;
    }
    width:100%;
    max-width: 400px;
    height:30%;
    max-height: 600px;
}
.add {
    width:100%;
    height: 320px;
    color:white;
    padding:10px;
    background-color: rgb(237, 102, 171);
}

.content {
    width: 100%;
    background-color: rgb(237, 102, 171);
    
}

.footer {
    width:100%;
    height:10%;
    background-color: black;
    color: rgb(237, 102, 171);
}

mat-form-field {
    width:90%;
    max-width: 500px;
    padding: 2px;
}