<div class="add">
  <mat-form-field >
    <mat-label>Photo url:</mat-label>
    <input matInput [(ngModel)]="newPost.photoUrl">
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Facebook post url:</mat-label>
    <input matInput [(ngModel)]="newPost.facebookUrl">

  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Description:</mat-label>
    <textarea matInput [(ngModel)]="newPost.description"></textarea><br>

  </mat-form-field><br>
  <button (click)="save()" mat-flat-button color="accent">Save
  </button>
</div>
<div class="content">
  <div class="post" *ngFor="let post of posts" (click)="goToFacebook(post.facebookUrl)">
    <img src="{{post.photoUrl}}">
    <p>{{post.description}}</p>
  </div>
</div>
<div class="footer">
 &copy; 2020 by Copii vs Pandemii
</div>